@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #0084ff;
    --secondary: #0060b9;
    --black: #2b2b2b;
    --white: #fbfbfb;

    --p-1: 1em;
    --p-2: 1.50em;
    --p-3: 2em;

    --g-1: 1em;
    --g-2: 1.50em;
    --g-3: 2em;

    --fs-s: 0.75em;
    --fs-m: 1em;
    --fs-lg: 2em;
    --fs-xl: 3em;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: "Poppins", sans-serif;
    color: var(--black);
}

/* resets */

a{
    text-decoration: none;
    color: initial;
}

ol,ul,li{
    list-style-type: none;
}

/* utils */

.flex{
    display: flex;
}

.grid{
    display: grid;
}

/* header start */

.header{
    align-items: center;
    justify-content: space-between;
    padding: var(--p-1);
    background-color: var(--white);
}

.logo-container a{
    font-size: var(--fs-lg);
    font-weight: 500;
    color: var(--primary);
}

.menu-container{
    align-items: center;
    gap: var(--g-1);
}

.menu-item .item-link{
    color: var(--secondary);
}

.menu-item .item-link:hover{
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

/* header end */